VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_USE_MOCK_ANALYTICS=false
VITE_ANALYTICS_BUSINESS_ID=
VITE_USE_MOCK_LEADS=false
VITE_LEADS_BUSINESS_ID=
VITE_BACKEND_API_URL=http://212.47.79.95:3000

# Optional WhatsApp connection settings
VITE_EVOLUTION_API_URL=http://212.47.79.95:8080
VITE_EVOLUTION_API_KEY=a5eb13c1539c40dfd438d6edccdbdd3bde832b6730c652f7
VITE_EVOLUTION_INSTANCE_NAME=business